@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Work+Sans:400,600&display=swap');
@import './sheets/app.scss';
@import './sheets/audioSection.scss';
@import './sheets/volumeSlider.scss';
@import './sheets/drawer.scss';
@import './sheets/sourceDialog.scss';

::-webkit-scrollbar {
  display: none;
}
