@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Work+Sans:400,600&display=swap');

.app-container {
  padding: 5px 40px;
}

.audio-section {
  margin-bottom: 50px;

  .toggle-play {
    height: 80px;
    width: 62px;
    margin: 30px auto;
    position: relative;

    .audio-error-icon {
      display: none;
      position: absolute;
      top: 0;
      right: -50px;
    }

    .play-btn {
      outline: none;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 74px;
      border-color: transparent transparent transparent #202020;
      transition: 100ms all ease;
      cursor: pointer;
      border-style: solid;
      border-width: 37px 0 37px 60px;

      &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      }
      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }
  }

  .volume-slider-container {
    text-align: center;

    .volume-slider {
      -webkit-appearance: none;
      width: 140px;
      height: 20px;
      margin: 10px 0;
      background: linear-gradient(to right, black 0%, black 100%);
      background-size: 150px 10px;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      outline: none;
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background: orange;
        position: relative;
        z-index: 3;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;

        &:hover {
          background: blue;
        }
      }

      &::-webkit-slider-thumb:after {
        content: ' ';
        width: 160px;
        height: 10px;
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 5px;
        background: #ff5b32;
        background: linear-gradient(to right, #f088fc 1%, #ac6cff 70%);
      }
    }
  }
}

.settings-btn-container {
  text-align: center;
  margin-bottom: 30px;

  button {
    background-color: white;
    border: 0;
    outline: 0;
  }
}

.settings-container {
  display: none;
  font-family: 'Work Sans', sans-serif;

  .audio-source-container {
    text-align: center;
    margin-bottom: 25px;

    .edit-source-btn,
    .random-source-btn {
      font-family: 'Work Sans', sans-serif;
      font-size: 15px;
      height: 30px;
      border: 0;
      cursor: pointer;
      outline: 0;
    }

    .source-display {
      font-size: 18px;
      text-decoration: underline;
      max-width: 300px;
      overflow: hidden;
      margin: 0 auto;
      white-space: nowrap;
    }
  }

  .proper-settings-container {
    .settings-title {
      font-size: 16px;
    }

    .dock-setting-container {
      margin-bottom: 40px;
    }
  }
}
