@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Nunito&display=swap');

.app-container {
  padding: 20px 40px;
}

.audio-section {
  margin-bottom: 50px;

  .toggle-play {
    text-align: center;
    height: 80px;
    margin: 30px 0;

    .play-btn {
      outline: none;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 74px;
      border-color: transparent transparent transparent #202020;
      transition: 100ms all ease;
      cursor: pointer;
      border-style: solid;
      border-width: 37px 0 37px 60px;

      &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      }
      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }
  }

  .volume-control {
    text-align: center;

    .volume-input {
      width: 150px;
      height: 30px;
      cursor: pointer;
    }
  }
}

.settings-btn-container {
  text-align: center;
  margin-bottom: 30px;

  button {
    background-color: white;
    border: 0;
    outline: 0;
  }
}

.settings-container {
  display: none;

  .audio-source-container {
    text-align: center;
    margin-bottom: 25px;

    .source-display {
      font-family: 'Cantarell', sans-serif;
      font-size: 18px;
      text-decoration: underline;
    }
  }

  .dock-setting-container {
    margin-bottom: 40px;
  }
}
