@import '../colors';

body {
  background-color: $base;
  overflow: hidden;
  animation: fadein 0.5s;

  ::-webkit-scrollbar {
    display: none;
  }

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.app-container {
  padding: 5px 20px;
  margin: 0 auto;
  max-width: 490px;
}
