@import '../colors';

.audio-controls {
  margin-bottom: 30px;

  .toggle-play-container {
    height: 80px;
    width: 62px;
    margin: 30px auto;
    position: relative;

    .play-btn {
      cursor: pointer;
      outline: none;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 74px;
      border-color: transparent transparent transparent $secondary;
      transition: 100ms all ease;
      border-style: solid;
      border-width: 37px 0 37px 60px;

      &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      }
      &:hover {
        border-color: transparent transparent transparent $hover_play;
      }
    }

    .audio-error-icon {
      display: none;
      position: absolute;
      top: 0;
      right: -50px;
    }
  }
}

.audio-source-container {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-bottom: 22px;

  .audio-source-title {
    font-size: 20px;
    font-weight: 500;
    color: $secondary;
  }

  .source-display {
    color: $source_display;
    font-size: 16px;
    text-decoration: underline;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    white-space: nowrap;
    margin-bottom: 14px;
  }

  .edit-source-btn,
  .random-source-btn {
    cursor: pointer;
    background-color: $base;
    color: $secondary;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    height: 30px;
    border: 0;
    outline: 0;
  }
}
