@import '../colors';

.drawer-toggle {
  text-align: center;

  button {
    background-color: $base;
    border: 0;
    outline: 0;
  }
}

.expanded-drawer {
  display: none; // settings start as hidden
  font-family: 'Work Sans', sans-serif;

  .settings-title {
    font-size: 14px;
    margin: 15px 0;
    color: $secondary;
  }

  .dock-setting-container {
    color: $secondary;
  }


  .dock-setting-label {
    font-size: 14px;
  }
}
