@import '../colors';

$width: 180px;
$height: 40px;
$bar-height: 10px;
$border-radius: 8px;
$bar-color: transparent;
$cursor-size: 30px;
$cursor-border-size: 3px;

$bar-fill: black; // filled color
$cursor-color: white; // knob primary color
$cursor-border: black; // knob border

.vol-slider {
  position: relative;
  margin: 0 auto;
  width: $width;
  height: $height;

  &-fill {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    top: $height/2 - $bar-height/2;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: calc(100% - 5px);
    height: $bar-height;
    background: $secondary;
  }

  &-input {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    width: $width;
    height: $height;
    background: transparent;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: $cursor-border-size solid $cursor-border;
      height: $cursor-size;
      width: $cursor-size;
      border-radius: 50%;
      background: $cursor-color;
      cursor: pointer;
      margin-top: -11px;
    }

    &::-webkit-slider-runnable-track {
      width: $width;
      height: $bar-height;
      cursor: pointer;
      background: $bar-color;
      border-radius: $border-radius;
      border: 1px solid $bar-fill;
    }

    &:focus {
      outline: none;
    }
  }
}
